# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Config files
.config

# Virtual environment
.env/
venv/

# FAISS Index
faiss_store_openai.pkl

# Streamlit cache and logs
.streamlit/
.logs/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# macOS files
.DS_Store

# Windows files
Thumbs.db

# Other sensitive or unnecessary files
*.log
*.tmp
